{% extends 'base.html.twig' %}

{% block body %}

<h1>Hello world</h1>
<p>{{ model.username }}</p>

<ul>
{% for item in users %}
    <li>{{ item.username }} - {{ item.createdAt }}</li>
{% endfor %}
</ul>
{% endblock %}
