{% extends "base.html.twig" %}

{% block body %}
    <table>
    {% for message in msgs %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.title }}</td>
            <td>{{ message.content }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}